<!DOCTYPE html>
<html>
  <head>
    <title>Max's MySimpleRailsApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-fixed-top navbar-default navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">My Bootstrap Site</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Max Gordon</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      <div class="alert alert-success" role="alert">This is some alert message</div>

      <div class="page-header">
        <h2>A Subtitle</h2>
      </div>

      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
      </ul>
    </body>

    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Library</a></li>
      <li class="active">Data</li>
    </ol>

    <div class="jumbotron">
      <h1>This is some title</h1>
      <p>This is some lead text</p>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">This is some panel</div>
      <div class="panel-body">
        This is some text
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">This is text in a column that should only take up half the width. Aasl saad dsa dsaa asda ad  fafaf wf asa  asas fas.</div>
      <div class="col-md-6">This is text in a column that should only take up half the width. Aasl saad dsa dsaa asda ad  fafaf wf asa  asas fas.</div>
    </div>

    <div class="well">This is in a well.</div>

    <div class="row">
      <div class="col-md-4 text-right">This is text in a column that should only take up a third the width. Aasl saad dsa dsaa asda ad  fafaf wf asa  asas fas.</div>
      <div class="col-md-4 text-center">This is text in a column that should only take up a third the width. Aasl saad dsa dsaa asda ad  fafaf wf asa  asas fas.</div>
      <div class="col-md-4 text-left">This is text in a column that should only take up a third the width. Aasl saad dsa dsaa asda ad  fafaf wf asa  asas fas.</div>
    </div>

    <table class="table table-bordered table-striped">

      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Joe Example</td>
          <td>34</td>
        </tr>
        <tr>
          <td>Sue Example</td>
          <td>27</td>
        </tr>
    </table>
  </div>
</html>
